designs/pages/UserData.json
[
    {
        "id": "sd_QmLOAEyYBaFbmw69",
        "type": "tab",
        "createdDate": "2021-10-11T04:22:56.010Z",
        "label": "UserData",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "UserDataComponent"
    },
    {
        "id": "sd_79I6F8TVxHexX1IU",
        "type": "OnInit",
        "z": "sd_QmLOAEyYBaFbmw69",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "functionName": "sd_79I6F8TVxHexX1IU",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_T75dnoF8Cv1xgHwz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "UserDataComponent"
    },
    {
        "id": "sd_T75dnoF8Cv1xgHwz",
        "type": "PageVariables",
        "z": "sd_QmLOAEyYBaFbmw69",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "fb",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "todaysDate",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_T75dnoF8Cv1xgHwz",
        "category": "Function",
        "x": 185,
        "y": 40,
        "wires": [
            [
                "sd_VVWDfiUFPeSmq8Dt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "UserDataComponent"
    },
    {
        "id": "sd_VVWDfiUFPeSmq8Dt",
        "type": "UseDependency",
        "z": "sd_QmLOAEyYBaFbmw69",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormBuilder",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "fb"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_VVWDfiUFPeSmq8Dt",
        "category": "Function",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_QVuj3rM48RF62exQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_nCxfMxUIV89EAPLJ",
        "type": "Script",
        "z": "sd_QmLOAEyYBaFbmw69",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.dataForm = page.fb.group({\n    name: ['',[Validators.required,Validators.pattern('[a-zA-Z ]*')]],\n    phoneNumber: ['',[Validators.required,Validators.pattern(`(?:(?:\\\\+|0{0,2})91(\\\\s*[\\\\- ]\\\\s*)?|[0 ]?)?[789]\\\\d{9}|(\\\\d[ -]?){10}\\\\d`)]],\n    email:['',[Validators.required,Validators.pattern('^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$')]],\n    dob:['',Validators.required],\n    age:['',[Validators.required,Validators.pattern('^[1-9][0-9]?$|^100$')]],\n    userName:['',[Validators.required,Validators.pattern(`^[a-zA-Z0-9]([._-](?![._-])|[a-zA-Z0-9]){3,18}[a-zA-Z0-9]$`)]],\n    password:['',[Validators.required,Validators.pattern(`^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$`)]]\n})\npage.todaysDate = new Date();\nconsole.log(page.todaysDate);\n",
        "functionName": "sd_nCxfMxUIV89EAPLJ",
        "category": "Function",
        "x": 625,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Ws0tePWIAla2RcTg",
        "type": "Script",
        "z": "sd_QmLOAEyYBaFbmw69",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.dataForm)\nif(page.dataForm.status == 'VALID'){\n    bh.local.dataFormVal = page.dataForm.value;\n    page.myClient.formClientData(bh.local.dataFormVal);\n    bh.local.alertSuccess = true;\n   // alert(\"Your data is saved successfully\")\n    //window.location.reload()\n    \n}else{\n    bh.local.alertSuccess = false;\n    //alert(\"Please fill every field\")\n}\n\n\n\n//console.log(bh.local.dataFormVal);",
        "functionName": "sd_Ws0tePWIAla2RcTg",
        "category": "Function",
        "x": 205,
        "y": 140,
        "wires": [
            [
                "sd_2feWAkNg5BhqPvke"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_FFLwJYOB1fy7uhHR",
        "type": "PageStart",
        "z": "sd_QmLOAEyYBaFbmw69",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submitForm",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [
            {
                "key": "dataFormVal",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "alertSuccess",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "flow_type": "sync",
        "functionName": "submitForm",
        "category": "General",
        "x": 40,
        "y": 140,
        "wires": [
            [
                "sd_Ws0tePWIAla2RcTg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "UserDataComponent"
    },
    {
        "id": "sd_QVuj3rM48RF62exQ",
        "type": "UseDependency",
        "z": "sd_QmLOAEyYBaFbmw69",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "HttpClient",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "http"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/common/http",
        "serviceDesignerType": "pages",
        "functionName": "sd_QVuj3rM48RF62exQ",
        "category": "Function",
        "x": 405,
        "y": 40,
        "wires": [
            [
                "sd_Cs3jCc9HxC68J3IJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Cs3jCc9HxC68J3IJ",
        "type": "UseDependency",
        "z": "sd_QmLOAEyYBaFbmw69",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "userDataClient",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "myClient"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "app/sd-services/userDataClient",
        "serviceDesignerType": "pages",
        "functionName": "sd_Cs3jCc9HxC68J3IJ",
        "category": "Function",
        "x": 505,
        "y": 40,
        "wires": [
            [
                "sd_nCxfMxUIV89EAPLJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NNIld3PS5qX3KzzJ",
        "type": "Script",
        "z": "sd_QmLOAEyYBaFbmw69",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"catching err\")",
        "functionName": "sd_NNIld3PS5qX3KzzJ",
        "category": "Function",
        "x": 200,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_vvWF66KOKKIdqEa8",
        "type": "Catch",
        "z": "sd_QmLOAEyYBaFbmw69",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": "all-nodes",
        "selectCatchType": "allnodes",
        "masternodeList": "",
        "ignoreList": [
            "sd_NNIld3PS5qX3KzzJ"
        ],
        "functionName": "sd_vvWF66KOKKIdqEa8",
        "category": "General",
        "x": 45,
        "y": 240,
        "wires": [
            [
                "sd_NNIld3PS5qX3KzzJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "UserDataComponent"
    },
    {
        "id": "sd_Og0NKyeZNjxYZ5V0",
        "type": "SnackBar",
        "z": "sd_QmLOAEyYBaFbmw69",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Data saved successfully"
        },
        "action": {
            "type": "str",
            "value": "close"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_Og0NKyeZNjxYZ5V0",
        "category": "General",
        "x": 545,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_2feWAkNg5BhqPvke",
        "type": "PageSwitch",
        "z": "sd_QmLOAEyYBaFbmw69",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "alertSuccess",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.alertSuccess",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "literal",
                "gv": "true"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "literal",
                "gv": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_2feWAkNg5BhqPvke",
        "category": "Function",
        "x": 325,
        "y": 140,
        "wires": [
            [
                "sd_Og0NKyeZNjxYZ5V0"
            ],
            [
                "sd_XLAJMXEYNXyob5D4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_XLAJMXEYNXyob5D4",
        "type": "SnackBar",
        "z": "sd_QmLOAEyYBaFbmw69",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please fill every field"
        },
        "action": {
            "type": "str",
            "value": "close"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_XLAJMXEYNXyob5D4",
        "category": "General",
        "x": 560,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
